<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Star</title>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
   
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/favicon.png" rel=" apple-touch-icon">
  
</head>

<body>
    <div id="container" class="container">
        <!-- form section -->
        <div class="row">
            <!-- sign in -->
            <section class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                    <form class="form sign-in" method=post enctype=multipart/form-data>
                        <br>
                        <a  class="signupwithauth" href="#"><i class='bx bxl-google' ></i> Sign Up With Google </a>
                        <br>
                        <br>
                        <br>
                        <a class="signupwithauth" href="#"><i class='bx bxl-github'></i>  Sign Up With Github</a> 
                        <br>
                        <br>
                       <br>
                        <h3 style="color: #d4dce1;"> Sign Up</h3>
                        <div class="input-group">
                            <i class="bx bxs-user"></i>
                            <input type="name" placeholder="Username" name="username" required />
                        </div>
                        <div class="input-group">
                            <i class="bx bx-mail-send"></i>
                            <input type="email" placeholder="Email Address" name="email" required />
                        </div>
                    
                        <div class="input-group">
                            <i class="bx bxs-id-card"></i>
                            <input type="number" placeholder="User ID" name="userid" required />
                        </div>
                        <div class="input-group">
                            <i class="bx bxs-lock-alt"></i>
                            <input type="password" placeholder="Password" id="password" name='password' required />
                            <i class="bi bi-eye-slash eyes" id="togglePassword"></i>
                        </div>
                        <div class="input-group">
                            <i class="bx bxs-lock-alt"></i>
                            <input type="password" placeholder="confirm Password" id="passwords" name='password_2' required />
                            <i class="bi bi-eye-slash eyes" id="togglePasswords"></i>
                        </div>
                        <button>Sign Up</button>

                        <p>
                        <h5>
                            <span style="color: #d4dce1;">Already have an account?</span>
                            <b> <a href="{{url_for('login')}}" style="color: #ec4141;" class="pointer">Sign In</a></b>
                        </h5>
                        <!-- flash message -->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                                {% for message in messages %}
                                
                                
                                <div class="alert alert-warning alert-dismissible" style="color: green;">
                                          {{ message }}
                                        </div>
                                {% endfor %}
                        {% endif %}
                    {% endwith %}
                        </p>
                    </form>
                </div>
            </section>
            <section class="row content-row">
                <!-- sign up  -->
                <div class="col align-items-center flex-col">
                    <div class="img sign-up">
                        <img src="../static/assets/img/signup.jpeg" id="signup" alt="welcome" />
                    </div>
                </div>
            </section>
        </div>

    </div>
    <script src="../static/assets/js/scripts.js"></script>
</body>

</html>