* {
    font-family: 'Mulish', sans-serif;
  
    box-sizing: border-box;
}
body{
    background-color: #0f1012;
}
.question {
    padding: 20px;
    border-radius: 10px;
    background: #202328;
    margin-bottom: 10px;
    color: #d4dce1;
    box-shadow: 1px 2px 3px #121311;
  }
.buttons{
    cursor: pointer;
    width: 20%;
    margin-left: 2%;
    margin-bottom: 20px;
    height: 40px;
    /* padding: 0.6rem 0; */
    border-radius: 5px;
    border: none;
    background-color: #3cad44;
    color: white;
    font-size: 1.2rem;
    outline: none;
  }
  .in{
    background-color: #d4dce1;
    color: #0f1012;
  }
  multi-input {
    display: inline-block;
    margin: 0 20px 20px 0;
  }
  
  button {
    background-color: #eee;
    border: 1px solid #ddd;  
    font-size: 16px;
    height: 30px;
    margin: 0 10px 20px 0;
  }
  
  body > div {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  label {
    display: block;
    margin: 0 20px 20px 0;
  }
  
  p {
    text-align: center;
  }
  