<!doctype html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Propeller Admin Dashboard">
	<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

	<title>Community Star</title>
	<meta name="description"
		content="Admin is a material design and bootstrap based responsive dashboard template created mainly for admin and backend applications." />

	<link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.png">

	<!-- Google icon -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./static/css/propeller.min.css">

	<link rel="stylesheet" type="text/css"
		href="./static/components/datetimepicker/css/bootstrap-datetimepicker.css" />
	<link rel="stylesheet" type="text/css"
		href="./static/components/datetimepicker/css/pmd-datetimepicker.css" />
	<link rel="stylesheet" type="text/css" href="./static/css/propeller-theme.css" />
	<link rel="stylesheet" type="text/css" href="./static/css/propeller-admin.css">
	<link rel="stylesheet" type="text/css" href="./static/css/dashstyle.css">
	<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

	<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
	{% load static %}
	<!-- Header Starts -->
	<!--Start Nav bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

		<div class="container-fluid">
			<div class="pmd-navbar-right-icon pull-right navigation">

			</div>


		</div> <!-- End notifications -->
		</div>
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush"
				is-open="true" is-open-width="1200"
				class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i
					class="material-icons md-light">menu</i></a>
			<a href="/dashboard" class="navbar-brand">
				Community Star
			</a>
		
			<div class="navbar-brand">
				<form class="form-inline my-2 my-lg-0" action="/dashboard" method="post">
					<input class="form-control mr-sm-2" style="width:400px;" id="searchbar" name="search" type="search" onkeyup="card_search()" placeholder="Search" aria-label="Search">
					<div class="form-control mr-sm-2" >
						
						<select name="filter" style="width:100px;" required>
							<option value="title">Title</option>
						  <option value="prog">Programming Language</option>
						  <option value="domain">Domain</option>
						  <option value="framework">Framework</option>
						</select>
					  </div>
					<button class="btn btn-outline-success my-2 my-sm-0"  type="submit"
						style="background-color: #3cad44;color:  #d4dce1;">Search</button>
				</form>
			</div>
		</div>
		</div>

	</nav>
	<!--End Nav bar -->
	<!-- Header Ends -->

	<!-- Sidebar Starts -->
	<div class="pmd-sidebar-overlay"></div>

	<!-- Left sidebar -->
	<aside id="basicSidebar"
		class="pmd-sidebar  sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons"
		role="navigation">
		<ul class="nav pmd-sidebar-nav">

			<!-- User info -->
			<li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
				<a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media"
					data-sidebar="true" aria-expandedhref="javascript:void(0);">
					<div class="media-left">
						<img  width="45px" style="border-radius: 20px;" src={{avatar_url}} alt="New User">
					</div>
					<div class="media-body media-middle">{{user}}</div>
					<div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</li><!-- End user info -->
			<br>
			<br>
			<button class="buttons"><a style="text-decoration:none; color: #ffffff; border-radius: 0px;"
					href="/create"></i>Create+ </a></button> <b style="color: #e6e6e6;"> Add new Repository</b>

<br>
<br>
				{% for i in listofprojects %}
					<li style="margin-left:30px;
					font-size: 20px;
					color: #d4dce1;
					margin-bottom: 5px;
					
					
					
					
					
					
					
					">{{i}}</li>
				{% endfor %}
			</li>
			<p id="demo"></p>
			<script>
				const txt = JSON.stringify({ listofprojects });
				const obj = JSON.parse(txt);
				document.getElementById("demo").innerHTML = obj.title + ", " + obj.age;
			</script>
		</ul>
	</aside><!-- End Left sidebar -->
	
	<div id="content" class="pmd-content content-area dashboard" >
		<div class="container page-container">
			<div class="row gutters">
				{% for project in allproject %}
				<form method="POST" action="/dashboard" class="card_s" >
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12" style="width: 300px; height: 300px; margin: 10px;">
						<figure class="user-card green" style="width: 300px; height: 300px; margin: 5px;">
							<figcaption>
								<img src="./static/img/favicon.png" alt="Soeng Souy" class="profile">
								<input type="hidden"  name="title"  value={{project.title}}>
								<input type="hidden"  name="url"  value={{project.link}}>
								<h5><a href={{project.link}}  style="color: #ffffff;" target="_blank">{{project.title}}</a></h5>
								<h6 name="user"style="color: #ffffff;">@{{project.creator}}</h6>
								<p style="color: #ffffff;">{{project.description}}</p>

								<div class="clearfix">
									<span class="badge badge-pill badge-info">{{project.prog}}</span>
									<span class="badge badge-pill badge-error">{{project.framework}}</span>
									<span class="badge badge-pill badge-success">{{project.org}}</span>
								</div>
								
							</figcaption>
							<button class="buttons" type="submit" style="width: 100px; "> I'm in </button>
							<br>
							
						</figure>
						
					</div>
				</form>
				
				{% endfor %}
			</div>
		</div>
	</div>
	</div>
	</div>

	</div>
	<!--end content area-->

	<!-- Footer Starts -->
	<!--footer start-->
	<footer class="admin-footer">
		<div class="container-fluid">
			<ul class="list-unstyled list-inline">
				<li>
					<h1 style="color: #ffffff;">{{lol}}</h1>
					<span class="pmd-card-subtitle-text"><b style="color: #d4dce1;">Community Star</b> &copy; <span
							class="auto-update-year"></span>. All Rights Reserved.</span>
				</li>
			</ul>
		</div>
	</footer>
	<!--footer end-->
	<!-- Footer Ends -->

	<!-- Scripts Starts -->
	<script src="./static/js/card.js"></script>
	<script src="./static/js/jquery-1.12.2.min.js"></script>
	<script src="./static/js/bootstrap.min.js"></script>


	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="./static/js/propeller.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

</body>

</html>