<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GITHUB TESTY</title>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/favicon.png" rel=" apple-touch-icon">
  
</head>

<body>
    <div id="container" class="container">
        <!-- form section -->
        <div class="row">
            <!-- sign in -->
            <section class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">

                    <form class="form sign-in" method=post enctype=multipart/form-data>
                        <br>
                        <a  class="signupwithauth" href="{% url 'social:begin' 'google-oauth2' %}"><i class='bx bxl-google' ></i> Login With Google </a>
                        <br>
                        <br>
                        <br>
                        <a class="signupwithauth" href="{% url 'social:begin' 'github' %}"><i class='bx bxl-github'></i>  Login With Github</a> 
                      
                        <br>
                        <br>
                        <br>
                        <h3 style="color: #d4dce1;">Login</h3>
                        <div class="input-group">
                            <i class="bx bx-mail-send"></i>
                            <input type="email" placeholder="Email Address" name="email" required />
                        </div>
                        <div class="input-group">
                            <i class="bx bxs-lock-alt"></i>
                            <input type="password" placeholder="Password" id="password" name='password' required />
                            <i class="bi bi-eye-slash eyes" id="togglePassword"></i>
                        </div>
                    </form>

                </div>
            </section>
            <section class="row content-row">
                <!-- sign in  -->
                <div class="col align-items-center flex-col">

                    <div class="img sign-in" id="login">
                        <img src="../static/assets/img/login.jpg" alt="welcome" />
                    </div>
                </div>
            </section>
        </div>
    </div>

    </div>

    <script src="../static/assets/js/scripts.js"></script>
</body>

</html>
